<div id="accounts-container">
    <div id="accounts-list">

        <div class="full-table">
            <table class="table-auto w-full border overflow-x-auto">
                {% from "components/table.html" import table_head_row %}
<thead>
                    <tr>{{ table_head_row(columns) }}</tr>
                </thead>
                <tbody id="accounts-tbody"
                    hx-get="{{ url_for('accounts_rows') }}"
                    hx-trigger="accountsRowsReload from:body"
                    hx-swap="innerHTML">
                    {% include "accounts/rows.html" %}
                </tbody>
            </table>
        </div>
        <div class="mt-2 flex gap-2">
            <button hx-get="{{ url_for('account_detail', account_id=0) }}"
                    hx-target="#modal-container-accounts"
                    @click="$store.modal_accounts.open = true"
                    class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200">
                {{ "New Account" | t }}
            </button>
        </div>
        
    </div>
</div>
