<div id="product-container">
    <div id="product-list" 
        x-data="{ selectedRow: 0 }">
            <div class="full-table">
            <table class="table-fixed w-full border overflow-x-auto">
                {% from "components/table.html" import table_head_row %}
<thead>
                    <tr>{{ table_head_row(columns) }}</tr>
                </thead>
                <tbody id="products-tbody"
                    hx-get="{{ url_for('products_rows') }}"
                    hx-trigger="productsRowsReload from:body"
                    hx-swap="innerHTML">
                    {% include "products/rows.html" %}
                </tbody>
            </table>


        </div>

                    <div class="mt-2 flex gap-2">
            <button x-show="is_admin" hx-get="/products/product/0" hx-target="#modal-container-products" @click="$store.modal_products.open = true"
                class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200">
                {{ "New Product" | t }}
            </button>
            <button hx-get="{{ url_for('product_filter') }}" hx-target="#modal-container-products"
                @click="$store.modal_products.open = true"
                class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200">
                {{ "Filter" | t }}
            </button>
            </div>

        <div class="mt-2 flex gap-2">


            <form hx-post="/products/set_filter" hx-swap="none" hx-ext="json-enc"
                class="space-y-4">

                <!-- Product date range -->
                <div class="mb-2">
                    <div class="flex gap-2 items-center">
                        <input type="date" lang="sv" name="product_date_filter-start" value="" class="border p-1">
                        <span>to</span>
                        <input type="date" lang="sv" name="product_date_filter-end" value="" class="border p-1">
                        <button type="submit" class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200">
                            {{ "Apply filters" | t }}
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>