<div id="alarm-container">
    <div id="alarm-list">
            <div class="full-table">
            <table class="table-auto w-full border overflow-x-auto">
                {% from "components/table.html" import table_head_row %}
<thead>
                    <tr>
                        {{ table_head_row(columns) }}
                        <th class="w-[5%] px-2 py-1 border text-center" @click.stop>
                            <input type="checkbox" @change="
                                if ($event.target.checked) {
                                    $store.alarms.selectAll(document.querySelectorAll('.alarm-checkbox'));
                                } else {
                                    $store.alarms.clearAll();
                                }
                            ">
                        </th>
                    </tr>
                </thead>
                <tbody id="alarms-tbody"
                    hx-get="{{ url_for('alarms_rows') }}"
                    hx-trigger="alarmsRowsReload from:body"
                    hx-swap="innerHTML"
                    x-init="$store.alarms.initInTable()">
                    {% include "alarms/rows.html" %}
                </tbody>
            </table>

                    <div class="mt-2 flex gap-2">
<!--
            <button hx-get="/alarms/alarm/0" hx-target="#modal-container-alarms" @click="$store.modal_alarms.open = true"
                class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200">
                {{ "New Alarm" | t }}
            </button>
            </div>
-->
        </div>
    </div>

        <div class="mt-2 flex gap-2">

            <form hx-post="/alarms/set_filter" hx-swap="none" hx-ext="json-enc"
                >
                <input type="hidden" name="submitted" value="true">

                <!-- Alarm date range -->
                <div>
                    <div class="flex gap-2 items-center">
                        <input type="date" lang="sv"  name="alarm_date_filter-start" value="" class="border p-1">
                        <span>{{ "to" | t }}</span>
                        <input type="date" name="alarm_date_filter-end" value="" class="border p-1">
                        <button type="submit" lang="sv"  class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200">
                            {{ "Apply filters" | t }}
                        </button>
                    </div>
                </div>
            </form>

            

            <button
                hx-post="/alarms/delete-selected"
                hx-vals="js:{ids: $store.alarms.getSelectedIds()}"
                hx-on="htmx:afterRequest: $store.alarms.clearAll(); htmx.trigger(document.body, 'alarmsRowsReload');"
                hx-trigger="confirmed"
                x-confirm="{{ 'Are you sure you want to delete selected alarms?' | t }}"
                class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200">
                {{ "Delete selected" | t }}
            </button>

        </div>

    <div class="mt-4" id="alarm-info">
    </div>
</div>