<div id="customer-container">
    <div id="customer-list" x-data="{
            selectedRow: 0
        }">

        <div x-data="searchTable()">
            <div class="relative my-2">🔎︎
                <!-- Input -->
                <input type="text" placeholder="{{ "Search name, number or phone." | t }}"
                    class="w-[400px] border border-gray-300 rounded pl-4 pr-3 py-2 p-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                    x-model="query" @input.debounce.300ms="filterRows()">
            </div>
            <div class="full-table">
                <table class="table-fixed w-full border overflow-x-auto">
{% from "components/table.html" import table_head_row %}
                    <thead>
                        <tr>
                            {{ table_head_row(columns) }}
                            <th class="w-[5%] px-2 py-1 border text-center" @click.stop>
                                <input type="checkbox" @change="
                                    if ($event.target.checked) {
                                        $store.customers.selectVisible();
                                    } else {
                                        $store.customers.clearVisible();
                                    }
                                ">
                            </th>
                        </tr>
                    </thead>
                    <tbody id="customers-tbody" x-init="$store.customers.initInTable()"
                        hx-get="{{ url_for('customers_rows') }}"
                        hx-trigger="customersRowsReload from:body"
                        hx-swap="innerHTML">
                            {% include "customers/rows.html" %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt-2 flex gap-2">
            <button hx-get="{{ url_for('customer_detail', customer_id=0) }}" hx-target="#modal-container-customers"
                @click="$store.modal_customers.open = true" class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200">
                {{ "New Customer" | t }}
            </button>

            <button hx-get="{{ url_for('customer_filter') }}" hx-target="#modal-container-customers"
                @click="$store.modal_customers.open = true" class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200">
                {{ "Filter" | t }}
            </button>

            <button hx-post="{{ url_for('set_filter') }}" hx-target="#customers-tbody" hx-swap="innerHTML"
                hx-ext="json-enc" class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200">

                {{ "Clear Filter" | t }}
            </button>



            <!--
            <button @click="$store.customers.toggleSelect()"
                    class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200">
                    
                {{ "Toggle Select Column" | t }}
            </button>
-->

        </div>

        <div class="mt-2 flex gap-2">

    <span
        class="inline-flex items-center justify-center rounded border rounded bg-gray-100 px-2 py-0.5"
        x-text="'{{ "Selected" | t }} ' + $store.customers.getSelectedIds().length"
    ></span>
            
            <button x-on:click="$store.customers.clearSelectedIds()" class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200">
                {{ "Clear Customers" | t }}
            </button>


            <button id="reload-customers-btn" :hx-vals="JSON.stringify({ selected_ids: $store.customers.getSelectedIds() })" hx-post="/calls/customers"
                hx-ext="json-enc" hx-target="#calls-customer-list"
                class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200">
                {{ "Load Selected Customers" | t }}
            </button>

                <!-- SMS -->

        <button id="mass-sms-btn"
            class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200"
            hx-post="/customers/data"
            hx-ext="json-enc"
            :hx-vals="JSON.stringify({
                selected_ids: $store.customers.getSelectedIds()
            })"
            hx-swap="none"
            hx-on="htmx:afterRequest: 
                console.log('test', event.detail.xhr.responseText);
                Alpine.store('customers')
                    .setSelectedCustomerData(JSON.parse(event.detail.xhr.responseText));
                showSmsModal(multiple=true);
            ">
                {{ "SMS" | t }}
            </button>


            <div x-data="{ team_id: ''}">

                <!-- Assign button -->
                <button
                    :hx-vals="JSON.stringify({ team_id: team_id, selected_ids: { selected_ids: $store.customers.getSelectedIds() } })"
                    hx-post="/customers/assign" hx-ext="json-enc" hx-swap="none"
                    class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200">
                    {{ 'Assign' | t }}
                </button>

                <!-- Team selection -->
                <select id="team-select" name="team_id" x-model="team_id" class="border p-1">

                    <option value="">{{ 'Select Team...' | t }}</option>
                    {% for team in teams %}
                    <option value="{{ team.id }}">{{ team.name }}</option>
                    {% endfor %}
                </select>

            </div>

        </div>
    </div>