

<div id="company-container">
    <div id="company-list"
    >

            <div class="full-table">
        <table class="table-auto w-full border overflow-x-auto">
            {% from "components/table.html" import table_head_row %}
<thead>
                <tr>{{ table_head_row(columns) }}</tr>
            </thead>
            <tbody id="companies-tbody"
                hx-get="{{ url_for('companies_rows') }}"
                hx-trigger="companiesRowsReload from:body"
                hx-swap="innerHTML">
                {% include "companies/rows.html" %}
            </tbody>
        </table>
</div>
        <div class="mt-2 flex gap-2">
            <button hx-get="{{ url_for('company_detail', company_id=0) }}"
                    hx-target="#modal-container-companies"
                    @click="$store.modal_companies.open = true"
                    class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200">
                {{ "New Company" | t }}
            </button>



        </div>
        
    </div>

</div>

